.productContn{
    width:60%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.productst{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width:100%;
    margin:10px auto;
    height:120px;
}
.productst:hover{
    border: 2px solid blue;
    color: blue;
}
.links{
    text-decoration: none;
    width:45%;
    padding: 10px;
}

.links:hover{
color: blue;
}


/*media*/
@media (max-width: 800px) {
    .productCont{
      display: block;
    }
  }